*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  cursor: pointer;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
#myslide img{
  height: 250px;
  width: 100%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#h1 h1{
  text-align: center;
  color: gray;
  font-size: 25px;
}
#h1{
  border-top: 1px solid gray;
  border-bottom:1px solid gray;
}
#clodinary{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 150px;
  width: 90%;
}
#text{
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#text p{
  font-size: 18px;
  color: #717171;
  line-height: 25px;
}
/* corosal without image */
.main-carousel1 {
  width: 97%;
  height: 14vw;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cell1 {
  width: 23.5vw;
  height: 14vw;
  line-height: 10px;
  text-align: center;
  padding: 0 1.4vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.cell1 img{
  height: 60px;
  width: 100px;
}

#h33{
  margin-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-carousel11 {
  width: 97%;
  height: 14vw;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cell11 {
  width: 18vw;
  height: 14vw;
  line-height: 10px;
  text-align: center;
  padding: 0 1.4vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.cell11 img{
  margin-top: 10px;
  height: 10vw;
  width: 10vw;
}
/* with image */
.main-carousel {
  width: 97%;
  height: 28vw;
  margin: auto;
}

.cell {
  width: 23.5vw;
  height: 28vw;
  padding: 0 1.4vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.cell img {
  width: 100%;
  height: 14vw;
  object-fit: cover;
}
#full{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  gap: 70%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#full button{
  margin-top: 20px;
}