#line1 {
  display: flex;
  justify-content: space-between;
}

#line1a {
  font-size: 30px;
  color: #204320;
  font-weight: bolder;
  margin-left: 50px;
}
a{
  text-decoration: none;
  color: black;
}
#line1b {
  font-size: 22px;
  margin-right: 10px;
}

#line2 {
  margin-left: 50px;
}
#line3 {
  display: flex;
  justify-content: space-between;

}

#left {
  width: 60%;
  /* border: 2px solid red; */
  margin-left: 10px;

}
#left4 img,
#left5 img,
#left6 img,
#left7 img,
#left8 img {
  width: 188px;
  height: 30px;
}
#right207 {
  margin-top: 5px;
  /* margin-bottom: 4px; */
}

#right3,
#right2a,
#right201,
#right204 {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  margin-top: -20px;
}
#right8 a {
  color: #414467
}
#bottom {
  display: flex;
}

#bottom-left {
  width: 50%;
  padding-left: 10px;
}
#box444 {
  width: 90%;
  background-color: #F0F1F7;
  padding-top: 5px;

}

#box444 :nth-child(1) {
  font-weight: 700;
}

#box555 {
  display: flex;
  justify-content: space-between;
  /* padding-right: 15px; */
}

#p1,
#p2,
#p3 {
  line-height: 5px;
}

 